@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy.otf");
}

@layer base {
  body {
    @apply min-h-screen antialiased font-gilroy bg-[#FFFEF9];
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    position: absolute;
  }
  ::-webkit-scrollbar:hover {
    width: 8px;
    position: absolute;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #46525e;
  }
  ::-webkit-scrollbar-track:hover {
    visibility: visible;
    background: #46525e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c5f80;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #445f6d;
    border-radius: 8px;
  }
}
